<% if @layer.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        Syöttämissäsi tiedoissa oli
        <%= @layer.errors.count %>
        <% if @layer.errors.count > 1 %>
            virhettä.
        <% else %>
            virhe.
        <% end %>
      </div>
      <ul>
        <% @layer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>