<div>
  <div class="baseAdder">
    <div class="adderForms" id="base-form">
      <div id="base" class="baseAdder">
        <%= render 'shared/forms/base_form_fields' %>

        <select class="selectpicker add-layer-btn-grp span4">
          <option class="layer-option">Kasvualusta</option>
          <option class="layer-option">Vedenpidätyskerros</option>
          <option class="layer-option">Salaojakerros</option>
          <option class="layer-option">Juurisuojakerros</option>
          <option class="layer-option">Suodatinkangas</option>
          <option class="layer-option">Asennussuoja</option>
          <option class="layer-option">Muu</option>
        </select>
      </div>
    </div>
    <!--
    <div class="add-base-button">
      <button id="add-base-button" class="btn-small btn-custom base-form-button">Lisää kerros</button>
    </div>
    -->
  </div>
</div>