<%= text_field_tag 'search', nil, :placeholder => 'Hae kasvia nimellä', :class => "span4" %>
<div id="plant-search">
  <ul class="plant-list span4 unstyled">
  </ul>
  <input type="text" id="custom-plant-name" class="span4" placeholder="Kirjoita lisättävän kasvin nimi"/>
  <br>
  <button class="btn" id="add-custom-plant">Lisää oma kasvi</button>
</div>