<!-- form for printing out error messages -->
<% if @roof.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        Syöttämissäsi tiedoissa oli
        <%= @roof.errors.count %>
        <% if @roof.errors.count > 1 %>
            virhettä.
        <% else %>
            virhe.
        <% end %>
      </div>
      <ul>
        <% @roof.errors.full_messages.each do |msg| %>
            <li>* <%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>