<% provide(:title, 'Tietoa sivustosta') %>

<div class="container span7 offset3">
  <h1>Tietoa sivustosta</h1>


  <p>VIHERKATTOINFO on luotu Helsingin yliopiston Tietojenkäsittelytieteen laitoksen ohjelmistosuunnittelu-kurssin,
    Viides ulottuvuus -tutkimusohjelman ja Koulutus- ja kehittämiskeskus Palmenian yhteistyönä.
  </p>

  <p> Viherkattoinfon tavoitteena on:</p>
  <ul id="aboutList">
    <li> toimia viherkattotietämystä kokoavana sivustona Suomessa</li>
    <li> jakaa tutkimustietoon perustuvaa tietoa viherkatoista suomalaisissa olosuhteissa</li>
    <li> auttaa viherkattojen suunnittelussa erilaisiin kohteisiin ja tarkoituksiin</li>
    <li> kerätä erilaisia viherkattototeutuksia Suomessa</li>
  </ul>

  <p>Sivusto on prototyyppi, jota kehitetään tulevaisuudessa mahdollisuuksien ja resurssien mukaan.</p>

  <p><strong>Linkkejä:</strong></p>
  <ul id="aboutList">
    <li><a href="http://www.luomus.fi/viherkatot">Luomus.fi</a></li>
    <li><a href="https://blogs.helsinki.fi/greenroofs/">Viidennen ulottuvuuden blogi</a></li>
  </ul>


</div>