<% provide(:title, 'Yhteystiedot') %>





<div class="container">

  <div class="span7">
    <h1>Yhteystiedot</h1>
  </div>

  <div class="row-fluid marketing">
    <div class="span6">
      <table class="table">
        <h3>Oy Viherkatto Ab</h3>
        <tr>
          <td>Sähköposti:</td>
          <td>foo@foo.bar</td>
        </tr>
        <tr>
          <td>Puhelin:</td>
          <td>123456789</td>
        </tr>
        <tr>
          <td>Tietokenttä 1:</td>
          <td>tieto 1</td>
        </tr>
        <tr>
          <td>Tietokenttä 2:</td>
          <td>tieto 2</td>
        </tr>
        <tr>
          <td>Tietokenttä 3:</td>
          <td>tieto 3</td>
        </tr>
        <tr>
          <td>Tietokenttä 4:</td>
          <td>tieto 4</td>
        </tr>
      </table>


    </div>

    <div class="span6">
      <%= image_tag 'viherkatot_logo.jpg', class:"img-polaroid" %>
    </div>
  </div>

</div>
