<div class="center hero-unit">
  <h1>Viherkattotietokanta</h1>

  <h2>
  	Palvelu tarjoaa työkalut viherkattojen suunnittelemiseen, valmiiden toteutusten jakamiseen muiden katseltavaksi ja erillisen tietopankin, josta löytää syventävämpää tietoa moderneista viherkattoratkaisuista.
  </h2>
  	<%= link_to "Rekisteröidy", '#', class: "btn btn-large btn-primary" %>
</div>

<div class="row">
<div class="span4">
<h2><a href="#">Viherkattosuunnittelija</a></h2>
<p>Viherkattoa suunnitteleva pystyy applikaation avulla saamaan ehdotuksia mahdollisista toteutuksista antamalla ohjelmalle erilaisia kriteerejä.
</p>
</div>
<div class="span4">
<h2><a href="#">Valmiit viherkatot</a></h2>
<p>Täällä pääset selaamaan muiden esittelemiä viherkattoprojekteja ja lisäämään palveluun tiedot omasta viherkatostasi.</p>
</div>
<div class="span4">
<h2><a href="#">Tietopankki</a></h2>
<p>Kattavampaa tietoa täältä.</p>
</div>
</div>

<%= yield :javascript_includes %>