<% provide(:title, 'Tietoa viherkatoista') %>

<div class="container">
  <h1>PERUSTIETOA VIHERKATOISTA</h1>

  <p><h4>Me kaupunkilaiset ansaitsemme laadukasta, viihtyisää, kaunista ja inspiroivaa kaupunkitilaa. Tulevaisuuden kaupunki on vihreä ja hengittävä, ihmiselle sopiva. Kaupunkien katot ovat valtaisa tilareservi. Ne voidaan muuttaa monimuotoisiksi, upeiksi viherympäristöiksi.</h3>
     </h4</p> <br/>
  <h2>MIKÄ ON VIHERKATTO?</h2>
  <p>Viherkatot ovat kattoja, joilla on kasvillisuutta ja kasvillisuuden edellyttämät alusrakenteet. Viherkattoja on monenlaisia keveistä ohutrakenteisista katoista painaviin paksukasvualustaisiin kattoihin. Viherkatot räätälöidään käyttötarpeen mukaan. Samalla katolla voi olla useita eri osioita hoitovapaasta luonnonmukaisesta kasvillisuudesta vaativiin puutarhaelementteihin.
     </p>
  <h2>MIKSI VIHERKATTOJA?</h2>
  <p>Maailman metropolien nouseva trendi on "urban retrofitting" – kaupunkien kehittäminen nykyistä kestävämpään suuntaan. Siinä urbaanin tilan kekseliäs käyttö, ekosysteemipalvelujen eli luonnon tarjoamien hyötyjen tunnistaminen ja ”elävät rakenteet” ovat avainasemassa. Kattomaisema – viides julkisivu – voidaan ottaa käyttöön uudella tavalla kasvillisuuden avulla.

  Viherkatot voivat olla monella tavalla tarpeellisia. Kasvien luonnollisia ominaisuuksia on mahdollista hyödyntää erilaisten ympäristöongelmien ratkaisemisessa. Kasvillisuus esimerkiksi pidättää ja suodattaa vettä, estää ympäristön kuumentumista ja vaimentaa melua. Viherkattojen avulla voidaan tasoittaa ääreviä sääilmiöitä, helleaaltoja ja rankkasateita. Ennen pitkää myös rahaa ja energiaa säästyy. Erityisen otollinen kohde on tiivis kaupunkiympäristö. Monissa maailman suurkaupungeissa onkin asetettu tavoitteeksi lisätä kasvitettua kattopintaa huomattavasti.

  Kaupunkilaiset tarvitsevat erilaisia palveluja, myös ekosysteemipalveluja: puhdasta ilmaa, vettä ja maaperää sekä monimuotoista luontoa. Viherkatot ovat osa hyvin toimivan kaupungin palveluketjua. Viherkatoilla voidaan virkistyä, hoitaa puutarhaa, kokea elämyksiä. Kasvimaisema hellii aisteja värein, tuoksuin ja muodoin. Kattotilan ehdoton etu on, että se on lähellä.

  Ympäristömyötäisiin, kaupunkiympäristöön soveltuviin ratkaisuihin liittyvä liiketoiminta laajentuu jatkuvasti kaikkialla maailmassa. Erilaiset viherkattototeutukset ja elävien rakenteiden hyödyntäminen tuovat uudenlaisia liiketoimintamahdollisuuksia esimerkiksi rakennusliikkeille ja niiden alihankkijoille, viherrakentamis- ja puutarha-alan yrityksille sekä virkistys-, kuntoutus- ja terapiapalveluiden tarjoajille. Kasvikattoihin liittyy monenlaisia innovaatio- ja tuotekehitysmahdollisuuksia.  Tänä päivänä viherrakennusalan keskiössä on kestävä viherrakentaminen.

  Viherkattoja ei pidä nähdä olemassa olevan kaupunkiluonnon korvaajina: tällöin ei saavuteta lisääntyvän viherpinta-alan tuomia hyötyjä esimerkiksi vakavien ympäristöongelmien torjumisessa ja ympäristöparannuksessa. Viherkatot täydentävät omalta osaltaan olemassa olevaa kaupunkivihreää, viheralueverkostoa ja virkistyspalvelutarjontaa. Suomessa ei myöskään ole tarpeeksi tietoa tai kokemusta viherkatoista suhteessa täkäläisiin olosuhteisiin eikä kotimaisia materiaaleja viherkattojen rakentamiseen toistaiseksi juuri käytetä. Tällä hetkellä viherkatot tuodaan monesti muualta kasvimattoina, joissa kasvaa ulkomaisia lajikkeita. Myös kasvualustan rakenteissa tuontitavara (mm. laavakivimurske) on tavallista. Ohjauskeinojen ja sääntelyn puute voi lisäksi johtaa kestämättömiin ratkaisuihin.
     </p>

  <h2>MIKSI LUONNONMUKAISIA VIHERKATTOJA?</h2>
  <p>Huolella suunnitellut viherkatot voivat edistää luonnon monimuotoisuutta, koska ne tarjoavat enemmän elinympäristöjä entistä monipuolisemmalle eliöstölle. Viherkatot voivat jopa lievittää meneillään olevaa biodiversiteettikriisiä toimimalla korvaavina elinympäristöinä harvinaistuville lajeille ja tarjoamalla eliöille leviämisreittejä kaupungistuneiden alueiden halki.
</p></div>