<div id="chosenOnes" class="row span3">
  <div id="chevrons">
    <i class="icon-chevron-down" id="clickDown"></i>
    <i class="icon-chevron-up" id="clickUp"></i>
  </div>

  <div id="chosenOnesSlide" class="row">
    <h2>Yhteenveto</h2>
    <div class="span2">
      <h5>Yleiset</h5>
      <ul class="unstyled">
        <li class="construction_year" required>Valmistumisvuosi: </li>
        <li class="address" required>Osoite: </li>
        <li class="constructor" required>Rakennuttaja: </li>
        <li class="note" required>Vapaa kuvaus: </li>
      </ul>
    </div>
    <div class="span2">
      <h5>Katto</h5>
      <ul class="unstyled">
        <li class="area" required>Pinta-ala: </li>
        <li class="declination" required>Kaltevuus: Tasakatto </li>
        <li class="location" required>Sijainti: </li>
        <li class="capacity" required>Kantavuus: </li>
      </ul>
    </div>
    <div class="span2">
      <ul id="theplants" class="chosen-list unstyled ">
        <h5>Valitsemasi kasvit</h5>
      </ul>
    </div>
    <div class="span2">
      <ul class="roof-list unstyled">
        <h5>Viherkaton rakennekerrokset</h5>
        <li class="absorbancy" required>Vedenimukyky: </li>
      </ul>
    </div>
    <button class="btn btn-small btn-custom" id="save">Tallenna</button>
  </div>
</div>