<% provide(:title, 'Kasvien lisäys') %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>
<h1>Kasvien lisäys</h1>

<div class="row">
  <div class="span5 offset3">
    <%= render 'shared/forms/plant_form_fields' %>
  </div>
</div>

<%= javascript_include_tag "bootstrap-select" %>

<script>$('.selectpicker').selectpicker();</script>