<% provide(:title, 'Kasvinäkymä') %>
<%= stylesheet_link_tag "bootstrap-select", media: "all" %>

<div class="row">
  <div class="span5 offset3">

    <h1>
      <%= @plant.name %>
    </h1>
    <%= render 'shared/forms/plant_show_form' %>
  </div>
</div>
<%= javascript_include_tag "bootstrap-select" %>

<script>$('.selectpicker').selectpicker();</script>
