<% provide(:title, "Viherkattojen haku") %>

<div class="search" data-id="greenroof-search">
  <form id="search-form" data-id="greenroof-search">
    <label for="address">Osoite</label>
    <input type="text" id="address" data-id="address" class="search-input">
    <label for="groofnote">Viherkaton kuvaus</label>
    <input type="text" id="groofnote" data-id="groofnote" class="search-input">
    <label for="plantname">Kasvin nimi</label>
    <input type="text" id="plantname" data-id="plantname" class="search-input">
    <label for="colour">Kasvin väri</label>
    <input type="text" id="colour" data-id="colour" class="search-input">
    <label for="maintenance">Hoidon tarve</label>
    <input type="text" id="maintenance" data-id="maintenance" class="search-input">
    <label for="plantmaxheight">Maksimikorkeus kasville</label>
    <input type="text" id="plantmaxheight" data-id="plantmaxheight" class="search-input">
    <label for="plantminheight">Minimikorkeus kasville</label>
    <input type="text" id="plantminheight" data-id="plantminheight" class="search-input">
    <label for="envname">Ympäristö</label>
    <input type="text" id="envname" data-id="envname" class="search-input">
    <label for="layername">Kerros</label>
    <input type="text" id="layername" data-id="layername" class="search-input">

    <input type="submit" value="Hae">
  </form>
</div>
<!--
<div >
  <p class="pagination"></p>

  <p class="content"></p>
  <ul class="greenroof-list" data-id="greenroof">

  </ul>
</div>
-->

