<% provide(:title, "Viherkattojen haku") %>

<div class="search" data-id="greenroof">
  <form id="search-form" data-id="greenroof">
    <input type="text" name="address">
    <input type="submit" value="Hae">
  </form>
</div>
