<% provide(:title, "Viherkattojen haku") %>

<div class="search" data-id="greenroof-search">
  <form id="search-form" data-id="greenroof-search">
    <label for="address">Address</label>
    <input type="text" id="address" data-id="address" class="search-input">

    <input type="submit" value="Hae">
  </form>
</div>
<!--
<div >
  <p class="pagination"></p>

  <p class="content"></p>
  <ul class="greenroof-list" data-id="greenroof">

  </ul>
</div>
-->

