/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$darkGreen: #008E00;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

#navbar-container {
  width: 90%;
  max-width: 1170px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  font-family: 'Permanent Marker', cursive;
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: white;
  //letter-spacing: -1px;
  //padding-top: 9px;
  //font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #2e462e;
}

rekisteroidy

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayMediumLight;
  a {
    color: $grayMediumLight;
    &:hover {
      color: $grayMediumLight;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  text-align: left;

}

.carousel-caption .btn {
  margin-top: 10px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-inverse .navbar-inner {
  background-color: #789f46; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 10px 1.5em;
  background-color: #789f46;
}

.navbar-inverse .nav > li > a {
  color: rgb(235, 235, 235);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: rgb(96, 146, 104);
  border-bottom-color: rgb(96, 146, 104);
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: rgb(96, 146, 104);
  border-bottom-color: rgb(96, 146, 104);
}

.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
  border-top-color: rgb(96, 146, 104);
  border-bottom-color: rgb(96, 146, 104);
}

h1 a {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  text-align: left;
}

h1 a:hover {
  margin: 0;
  line-height: 1.25;
  color: #C0C0C0;
  text-shadow: 0 1px 1px rgba(20, 20, 20, .4);
  text-align: left;
  text-decoration: none;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.btn-custom {
  background-color: hsl(86, 61%, 36%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ebc2d", endColorstr="#639323");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7ebc2d), to(#639323));
  background-image: -moz-linear-gradient(top, #7ebc2d, #639323);
  background-image: -ms-linear-gradient(top, #7ebc2d, #639323);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7ebc2d), color-stop(100%, #639323));
  background-image: -webkit-linear-gradient(top, #7ebc2d, #639323);
  background-image: -o-linear-gradient(top, #7ebc2d, #639323);
  background-image: linear-gradient(#7ebc2d, #639323);
  border-color: #639323 #639323 hsl(86, 61%, 33.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

/* plants index */

.list {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:last-child {
      border-bottom: 1px solid $grayMediumLight;
    }
  }
}

ul, ol {
  padding: 0;
  margin: 0 0 25px;
}

#chosenOnes {
  font-family: Arial, Helvetica, Times;
  /*border-style:solid;
  border-width:1px;*/
  border-radius: 15px;
  background-color: #DBEDD8;
  padding-left: 10px;
  position: fixed;
  right: 0.5%;
  top: 100px;
  li {
    font-size: 0.9em;
    font-weight: bold;
  }

  #theplants {
    line-height: 0.3em;
  }

  #chevrons {
    text-align: center;
  }
}

.baseAdder {
  //height:350px;
  padding-bottom: 1.5em;
  legend {
    text-align: center;
  }
}

.baseAdderBonus {
  border-radius: 15px;
  background-color: $grayMediumLight;
  height: auto;
  width: 35%;
  margin-bottom: 15px;
  legend {
    text-align: center;
  }
  p {
    margin-bottom: 0px;
  }
}

.plantAdder {
  padding-right: 100px;
  margin-bottom: 15px;
  border-radius: 15px;
  text-align: center;
  legend {
    text-align: center;
  }

  .span4 {
    text-align: center;
  }

  .span5 {
    border-radius: 20px;
    background-color: $grayMediumLight;
  }
}

#note_ {
  height: 200px;
  padding-left: 15px;
}

.centeredField {
  padding-left: 15px;
}

.large-input {
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 20px;
  margin-bottom: 50px;
  text-align: center;
  background-color: $grayMediumLight;

  label {
    font-family: Verdana, Geneva, sans-serif;
  }
  #large-input-right {
    .span4 {
      margin-bottom: 98px;
    }
  }
}

.remove-layer-button {
  margin-bottom: 1em;
}

/* greenroofs index */
.greenroof-list {
  list-style: none;
  width: 600px;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayMediumLight;
    &:last-child {
      border-bottom: 1px solid $grayMediumLight;
    }
  }
}

#hero-div {
  width: 90%;
  padding-top: 1em;
  padding-left: 1em;

}

.greenroof-list-hero-unit {
  padding: 1em;
  position: relative;
  background-color: rgba(57, 143, 40, 0.15);
  h5 {
    display: inline;
  }
  p {
    font-size: small;
  }
  div {
    padding-right: 1em;
  }
  a {
    font-size: smaller;
  }
  .close-icon {
    position: absolute;
    top: -15px;
    right: -15px
  }

  .edit-icon {
    position: absolute;
    top: 15px;
    right: -15px
  }
  i {
    position: absolute;
    top: -5px;
    right: -5px
  }
}

.greenroof-list-hero-unit:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(107, 142, 35, 1);
  -moz-box-shadow: 0px 0px 30px rgba(107, 142, 35, 1);
  box-shadow: 0px 0px 30px rgba(107, 142, 35, 1);
}

a {
  color: rgb(20, 103, 50);
  text-decoration: none;
}

.flexslider {
  min-width: 40em;
  .flex-viewport {
    ul {
      li {
        img {
          min-height: 20em;
        }
      }
    }
  }
}

#contact-table {
  table-layout: fixed;
}

#contact-table td {
  word-wrap: break-word;
}

#Muokkaabutton {
  margin-left: 75%;
}


// User control label
.user-controls {
  display: inline;
  color: rgb(230, 230, 230);
}

.admin-user {
  color: rgb(90, 180, 240);
}

.loading-icon {
  display: none;
}

/* CSS FOR GREEN ROOF ADDITION */
.greenroof-addition {
  h2 {
    text-align: left;
  }

  // Some space between the forms, this should scale rather nicely.
  input {
    margin-bottom: 2%;
  }

  .lead {
    font-size: 16px;
  }

  // Bootstrap Jumbotorn overrides
  .jumbotron {

    // Main navbar is doubling its size when the screen is around 1024*768, padding required to show the h1 in this scenario.
    padding-top: 50px;

    h1 {
      text-align: left;
    }
  }

  .add-plant-for-greenroof {
    margin-right: 1em;
  }

  .plant-add-list {
    margin-bottom: 0.7em;
  }
}
