<% provide(:title, 'Pohjan päivitys') %>

<h1>Pohjan päivitys</h1>

<div class="row">
  <div class="span5 offset4">
    <%= form_for(@base) do |f| %>
        <%= render 'shared/error_bases' %>
        <%= render 'shared/base_form_fields' %>
        <%= f.submit "Päivitä muutokset", class: "btn btn-large btn-custom" %>
    <% end %>
    * = Pakollinen kenttä
  </div>
</div>