<% provide(:title, 'Viherkatot') %>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Rakennekerrospaketit</h1>
<p>Find me in app/views/base/index.html.erb</p>
