<% provide(:title, 'Lisää pohja') %>

<h1>Lisää pohja</h1>

<div class="row">
  <div class="span5 offset4">
    <%= form_for(@base) do |f| %>
      <%= render 'shared/error_bases' %>
      <%= render 'shared/forms/layer_form_fields' %>
      <%= f.submit "Lisää pohja", class: "btn btn-large btn-custom" %>
    <% end %>
    * = Pakollinen kenttä
  </div>
</div>