<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Yhteystiedot",    '#' %></li>
          <li><%= link_to "Kirjaudu", '#' %></li>
          <li><%= link_to "Rekisteröidy", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>